<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
</head>
<body>
    <div class="content">
        {{>header}}
    <img src="/img/sid.jpg">
    </div>
    
  
    {{>footer}}
</body>
</html>